/* ===============================
   Página de Audios del Curso
================================ */

.course-audio-page {
  min-height: 80vh;
  padding: 2rem 1rem 3rem;
  font-family: "Inter", sans-serif;
}

.counter-downloads,
.text-audio-alert {
    color: #c4a224;
    text-align: center;
}

/* ===============================
   Header del Curso
================================ */

.course-header-custom {
  max-width: 1100px;
  margin: 0 auto 2.5rem auto;
}

.course-cover-custom {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 14px 32px rgba(26, 13, 74, 0.25);
}

.course-title-custom {
  margin-top: 1rem;
  font-weight: 700;
}

/* ===============================
   Lista de Audios
================================ */

.audio-list {
  border-radius: 18px;
  border-color: #c4a224;
  background-color: #2E1572;
  box-shadow: 0 10px 26px rgba(26, 13, 74, 0.1);
}

.audio-item {
  font-weight: 600;
  color: #c4a123;
}

.audio-buttons {
  max-height: 320px;
  overflow-y: auto;
  padding-right: 4px;
}

/* Botón descargar */

.audio-download-btn {
  background-color: #c4a123;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  color: #1a0d4a;
  transition: all 0.25s ease;
}

.audio-download-btn:hover {
  background-color: #d8b63a;
  color: #1a0d4a;
}

/*audio player*/
.audio-player-box {
    background-color: #2E1572;
    border-color: #c4a123;
}
.audio-title {
    color: #c4a123;
}

/* ===============================
   Responsive
================================ */

@media (max-width: 768px) {
  .course-cover {
    max-height: 220px;
  }

  .audio-buttons {
    max-height: unset;
    flex-direction: row;
    overflow-x: auto;
  }

  .audio-list,
  .audio-player-box {
    padding: 1rem;
  }
}

/* Forzar que el reproductor ocupe el 100% del contenedor */
.audio-player {
    width: 100% !important;
    display: block;
    height: 50px; /* Altura estándar para que no varíe entre navegadores */
    outline: none;
}

/* Ajuste específico para que Chrome no lo haga pequeño */
audio::-webkit-media-controls-enclosure {
    border-radius: 4px; /* Quitar el redondeado excesivo de Chrome si quieres que sea cuadrado */
    background-color: #f1f3f4;
}

.audio-download-btn:disabled {
    background-color: #e9ecef;
    border-color: #dee2e6;
    color: #6c757d;
    cursor: not-allowed;
}
